//Fonts
$font-primary: "IBM Plex Sans", sans-serif;
$font-secondary: "IBM PLex Serif", serif;

//Colors
$bg-color: #FFFFF0;
$color-primary: #1a60bd;
$color-secondary: #e7c75d;
$color-highlight: #76b2eb;
