.product-button {
  display: block;
  background-color: #colors[success];
  color: #colors[blank];
  text-align: center;
  padding: 8px 0;
  border-radius: 8px;
  margin-top: 8px;
  text-decoration: none;

  &:hover {
    background-color: #colors[success-hover];
  }
}
