//Cores
$bg-color: #F5F6FA;
$primary-color: #182C61;
$secondary-color: #44BD32;
$hover-color: #4CD137;
$white: #FFF;

//Fontes
$font-main: 'Roboto', sans-serif;

//Breakpoints
$bp-tablet: 1023px;
$bp-mobile: 767px;
